.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mainDiv {
  border-style: solid;
  border-color: black;
  height: 40em;
  width: 50em;
  margin-top: 2.5em;
  background-color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.queryHistoryBox {
  border-style: solid;
  border-width: thin;
  border-color: black;
  width: 90%;
  margin: 0 auto 0 auto;
  overflow: scroll;
  height: 15em;
  margin-top: 1.5em;
}

.queryHistory {
  margin-top: 15em;
}

h5 {
  margin: 0 auto 0 auto;
  /* color: orange; */
}

.query {
  text-align: left;
  margin-left: 4em;
  margin-bottom: 1em;
  padding-top: 1em;
  padding-left: 1em;
  border-style: solid;
  border-width: thin;
  border-radius: 0.5em;
  border-color: black;
  width: 37em;
  height: 2em;
  overflow-x: scroll;
}

.jsonResponse {
  border-style: solid;
  border-width: thin;
  border-color: black;
  width: 90%;
  margin: 0 auto 0 auto;
  overflow: scroll;
  height: 13em;
  margin-top: 1.5em;
}

.queryStuff {
  display:inline-block;
  /* margin-right: 0; */
}

.queryStuff1 {
  float: right;
  margin-top: 2.5em;
  position: relative;
  left: -12em;
  /* margin-right: 25em; */
  /* left: 5em; */
}
